<%if user_signed_in?%>
<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  New Article</button>
<div id="demo" class="collapse out">
<%= render 'form' %>
</div>
<%end%>

<% @articles.each do |article| %>
<div class="article_<%=article.id%>">
      <blockquote>
            <p>
    <dl>
    <dt><%=article.title.capitalize%>  <span class="label label-info">  <%=article.user.name%></span><%if user_signed_in? && article.user==current_user%><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %><%end%>
    </dt>
    <dd><%= article.description %></dd>
    </dl>
</p>
  <%article.comments.each do |comment|%>
    <small><%=comment.description%><span class="label label-info">  <%=comment.user.name%></span>
      <%if comment.user==current_user%>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </small>
  <%end%>
    <%if user_signed_in?%>
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo<%=article.id%>">
  New Comment</button>
  <div id="demo<%=article.id%>" class="collapse out">
    <%= render :partial => 'comments/form',:locals=>{:article=>article.id} %>
  </div>
    <%end%>
    </blockquote>
    </div>
<%end%>



